{% extends 'AGUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumbs %}
	{{ parent() }}
	<li><a href="{{ path('fos_user_profile_show') }}">My account</a></li>
	<li class="active">Edit my account</li>
{% endblock %}

{% block ag_user_content  %}
	<div class="row">
		<div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
			<a href="{{ path('fos_user_profile_show') }}">
				{{ fa('reply fa-2x') }}
			</a>
		</div>
		<div class="col-sm-11">
			<h2>{{ fa('edit') }} Edit my informations</h2>
		</div>
	</div>
	<hr/>
    <div class="row">
        <div class="col-xs-10 center-block nfloat">
            {#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
            {#{{ form(form) }}#}
	        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		        <div class="form-group">
			        {{ form_label(form.username) }} :
			        {{ form_errors(form.username) }}
			        {{ form_widget(form.username, {'attr' : {'class': 'form-control'}}) }}
		        </div>
		        <div class="form-group">
			        {{ form_label(form.email) }} :
			        {{ form_errors(form.email) }}
			        {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
		        </div>
		        <div class="form-group">
			        {{ form_label(form.current_password) }} :
			        {{ form_errors(form.current_password) }}
			        {{ form_widget(form.current_password, {'attr' : {'class': 'form-control'}}) }}
		        </div>
		        {{ form_rest(form) }}
		        <div>
			        <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
		        </div>
	        </form>
        </div>
    </div>
{% endblock %}
