{% extends 'AGUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">Mon compte</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-md-12 text-center">
		    <h2>{{ fa('user') }} Mon compte</h2>
		    <hr/>
	    </div>
    </div>
    <div class="row">
        <div class="col-md-6 center-block" style="float: none;">
            <div class="panel panel-info">
                <div class="panel-heading">
	                {{ fa('list-alt') }} Informations
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ fa('user') }} {{ 'profile.show.username'|trans }} : {{ user.username }}
                    </li>
                    <li class="list-group-item">
                        {{ fa('envelope') }} {{ 'profile.show.email'|trans }} : {{ user.email }}
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">
                        {{ fa('edit') }} Editer mes infos
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger pull-right">
                        {{ fa('unlock-alt') }} Changer mon mot de passe
                    </a>
                </div>
            </div>
        </div>
        {#<div class="col-md-6">#}
            {#<div class="panel panel-success">#}
                {#<div class="panel-heading">#}
                    {#{{ fa('cogs') }} Préférences <a href="{{ path('ag_user_user_edit_colors') }}" class="btn btn-warning btn-xs pull-right">{{ fa('edit') }} Editer</a>#}
                {#</div>#}
                {#<div class="panel-body">#}
                    {#Vous pouvez personnaliser vous-même les couleurs des QR Codes.#}
                {#</div>#}
                {#<ul class="list-group">#}
                    {#<li class="list-group-item">#}
                        {#{{ fa('pencil') }} Couleur premier plan : <span class="badge" style="border: 1px solid #333333; background-color: {{ user.foregroundColor }}; float: none;"> </span>#}
                    {#</li>#}
                    {#<li class="list-group-item">#}
                        {#{{ fa('pencil-square') }} Couleur arrière-plan : <span class="badge" style="border: 1px solid #333333; background-color: {{ user.backgroundColor }}; float: none;"> </span>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}
