{% extends 'AGUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">My account</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-md-12 text-center">
		    <h2>{{ fa('user') }} My account</h2>
		    <hr/>
	    </div>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ 'change_password.flash.success'|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="panel panel-info">
                <div class="panel-heading">
	                {{ fa('list-alt') }} Informations
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-user"></i> {{ 'profile.show.username'|trans }} : {{ user.username }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> {{ 'profile.show.email'|trans }} : {{ user.email }}
                    </li>
	                {% if is_granted('ROLE_SUPER_ADMIN') %}
		                <li class="list-group-item">
			                {{ fa('key') }} Api key :
			                {% if user.apiKey %}
				                {{ user.apiKey }} <a href="{{ path('ag_user_admin_generateApiKey') }}" class="btn btn-warning btn-xs pull-right">Regenerate API key</a>
			                {% else %}
				                <a href="{{ path('ag_user_admin_generateApiKey') }}" class="btn btn-warning btn-xs">{{ fa('key') }} Generate API key</a>
			                {% endif %}
		                </li>
	                {% endif %}
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">
                        <i class="fa fa-edit"></i> Edit my account
                    </a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">
                        <i class="fa fa-lock"></i> Change password
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
