{% extends 'AGUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">Mon compte</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-md-12 text-center">
		    <h2>{{ fa('user') }} Mon compte</h2>
		    <hr/>
	    </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-10 center-block" style="float: none;">
            <div class="panel panel-info">
                <div class="panel-heading">
	                {{ fa('list-alt') }} Informations
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-user"></i> {{ 'profile.show.username'|trans }} : {{ user.username }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> {{ 'profile.show.email'|trans }} : {{ user.email }}
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default">
                        <i class="fa fa-edit"></i> Editer mon compte
                    </a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">
                        <i class="fa fa-lock"></i> Changer mon mot de passe
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
