{% extends "@AGShortener/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('ag_shortener_my_links') }}">Mes liens</a></li>
    <li><a href="{{ path('ag_shortener_links_details', { id: link.id }) }}">{{ link.token }}</a></li>
    <li class="active">Editer</li>
{% endblock %}

{% block ag_shortener_content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ fa('edit') }} Editer un lien</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="url" class="control-label">URL longue</label>
                <p class="form-control-static">{{ link.url }}</p>
            </div>
            <div class="form-group{% if form.token.vars.errors|length > 0 %} has-error{% endif %}">
                {{ form_label(form.token) }}
                <div class="input-group">
                    <div class="input-group-addon">{{ url('ag_shortener_homepage') }}</div>
                    {{ form_widget(form.token) }}
                </div>
                {{ form_errors(form.token) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <h5><strong>{{ fa('qrcode') }} QR Code</strong></h5>
            <img src="{{ qrcode_data_uri(url('ag_shortener_redirect', {token: link.token }), foreground_color=hex_to_rgb(app.user.foregroundColor|default('#000000')), background_color=hex_to_rgb(app.user.backgroundColor|default('#ffffff'))) }}" alt="QR Code" class="img-responsive img-thumbnail">
        </div>
    </div>
{% endblock %}

