{% extends "@AGShortener/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block ag_shortener_content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ fa('compress') }} Raccourcir une URL</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
        </div>
        {% if link is defined %}
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="short" class="control-label">{{ fa('link') }} Lien raccourci</label>
                            <input id="short" type="text" class="form-control" readonly="readonly" value="{{ url('ag_shortener_click_redirect', {token: link.token }) }}">
                        </div>
                        <a href="{{ path('ag_shortener_click_redirect', { token: link.token }) }}" class="btn btn-success" target="_blank">
                            Tester {{ fa('arrow-right') }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5><strong>{{ fa('qrcode') }} QR Code</strong></h5>
                        <img src="{{ qrcode_data_uri(url('ag_shortener_scan_redirect', {token: link.token })) }}" alt="QR" class="img-responsive center-block img-thumbnail">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#short').select().focus().on('focus', function() {
            $(this).select();
        });
    </script>
{% endblock %}
