<div class="row">
    <div class="col-md-12">
        <h2>{{ fa('trash') }} Supprimer un lien</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 center-block text-center" style="float: none;">
        <form action="" method="POST">
            <p>Êtes-vous sûr de vouloir supprimer ce lien ?</p>
            <a href="{{ path('ag_shortener_my_links') }}" class="btn btn-default">{{ fa('arrow-left') }} Retour</a>
            <button type="submit" class="btn btn-danger">{{ fa('trash') }} Supprimer le lien</button>
            {{ form_rest(form) }}
        </form>
    </div>
</div>